Django~=3.1.12
djangorestframework~=3.13.1
django_extensions~=3.2.0
Werkzeug~=2.2.2
pyOpenSSL~=22.0.0
djangorestframework_simplejwt~=5.2.0
django_filter~=22.1
django-enum choicefield-3.0.1
djongo~=1.3.6
pymongo==3.12.3